<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/public/assets/style.css">
   <script src="/public/deleteForm.js"></script>
    
   
</head>
<body>

    <div id="container">
    <%- include('partials/navbar') %>
    <% data.forEach(function(dat) { %>
        
        <div class="card">
            <div class="card_title">
                <h1>
                    <%= dat.name %>
                </h1>
            </div>
            <div class="card_info">
                <div class="card_img">
                    <img  src = "<%= dat.image %>" alt="" srcset="">
                </div>
                <ul class = "card_list">
                    <li>Mass: <%= dat.mass%></li>
                    <li>Radius: <%= dat.radius%></li>
                    <li>Period: <%= dat.period %></li>
                    <li>Semi_major_axis: <%= dat.semi_major_axis%></li>
                    <li>Temperature: <%= dat.temperature%></li>
                    <li>Distance_light_year: <%= dat.distance_light_year %></li>
                    <li>Host_star_mass: <%= dat.host_star_mass%></li>
                    <li>Host_star_temperature: <%= dat.host_star_temperature%></li>
                    <li  id="id"><%= dat._id %></li>
                </ul>
             
            </div>
       <a class = "btn" href="updatePlanet/<%=dat._id%>">Edit</a> 
       <!-- <a class = "btn" method="DELETE" href="/planets/deletePlanet/<%=dat._id%>">Delete</a>  -->
       <button class="btn" onClick = "deletePlanet(event)"> Delete </button> 
        </div>
    <% }); %>
    </div>
</body>
</html>